# Kata 4

# Ejercicio 1: Transformando cadenas

In [19]:
# Dividir la frase en oraciones

text = """ Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
result = text.split('.')
result

[' Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' On average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [16]:
# palabras a buscar
Claves = ["average", "temperature", "distance"]

In [17]:
# Resultado de palabras buscadas

for text in result:
    for Clave in Claves:
        if Clave in text:
            print (text)
            break

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [18]:
# Cambiar C a celsius

for text in result:
    for Clave in Claves:
        if Clave in text:
            print(text.replace('C','Celsius'))

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2: Formateando cadenas

In [20]:
# Datos a usar

name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [22]:
# Título

title= f'Gravity on the {name}'
print(title)

Gravity on the Moon

In [24]:
# Plantilla de datos para mostrar
# a partir de la extracción del bloque ante-anterior

plantilla= f"""\nName: '{name}' \nGravity '{planet}' : '{gravity*1000}' m/s2"""
print(plantilla)

Name: 'Moon'
Gravity 'Earth' : '1.6199999999999999' m/s2

In [25]:
# Ahora, se unen las variables para que se defina el hecho

link = f"""{titulo.title()} {plantilla}"""
print(link)

Gravity On The Moon
Name: 'Moon'
Gravity 'Earth' : '1.6199999999999999' m/s2

In [26]:
# Ahora, se usan nuevos datos de muestra

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [27]:
# Se muestran los nuevos datos ya con la plantilla

nuvea_plantilla= "Gravedad de: {nombre} \nNombre planeta: {planeta} \nGravedad en {nombre}: {gravedad} m/s2"
print(nuvea_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Gravedad de: Ganímedes
Nombre planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2